In [46]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [47]:
df = pd.read_csv('Amazon Sale Report.csv',encoding='latin1',index_col=False)
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [48]:
df.shape

(128976, 21)

In [49]:
df.isnull().sum()

index                      0
Order ID                   0
Date                       0
Status                     0
Fulfilment                 0
Sales Channel              0
ship-service-level         0
Category                   0
Size                       0
Courier Status             0
Qty                        0
currency                7800
Amount                  7800
ship-city                 35
ship-state                35
ship-postal-code          35
ship-country              35
B2B                        0
fulfilled-by           89713
New                   128976
PendingS              128976
dtype: int64

In [50]:
df['currency'].unique()

array(['INR', nan], dtype=object)

In [51]:
df['currency'] = df['currency'].fillna(df['currency'].mode()[0])
df['currency']

0         INR
1         INR
2         INR
3         INR
4         INR
         ...
128971    INR
128972    INR
128973    INR
128974    INR
128975    INR
Name: currency, Length: 128976, dtype: object

In [52]:
df.isnull().sum()

index                      0
Order ID                   0
Date                       0
Status                     0
Fulfilment                 0
Sales Channel              0
ship-service-level         0
Category                   0
Size                       0
Courier Status             0
Qty                        0
currency                   0
Amount                  7800
ship-city                 35
ship-state                35
ship-postal-code          35
ship-country              35
B2B                        0
fulfilled-by           89713
New                   128976
PendingS              128976
dtype: int64

In [53]:
df['fulfilled-by'].unique()

array(['Easy Ship', nan], dtype=object)

In [54]:
df['fulfilled-by'] = df['fulfilled-by'].fillna(df['fulfilled-by'].mode()[0])
df['fulfilled-by']

0         Easy Ship
1         Easy Ship
2         Easy Ship
3         Easy Ship
4         Easy Ship
            ...
128971    Easy Ship
128972    Easy Ship
128973    Easy Ship
128974    Easy Ship
128975    Easy Ship
Name: fulfilled-by, Length: 128976, dtype: object

In [55]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

In [56]:
# cat_col = ['ship-city', 'ship-state','ship-country']

# def mode_(df,cat_col):
#     for i in cat_col:
#         df[i].fillna(df[i].mode()[0])
#     return df 
# cat_col = ['ship-city', 'ship-state','ship-country']
# mode_(df,cat_col)

In [57]:
df['ship-city'] = df['ship-city'].fillna(df['ship-city'].mode()[0])
df['ship-city']

0              MUMBAI
1           BENGALURU
2         NAVI MUMBAI
3          PUDUCHERRY
4             CHENNAI
             ...
128971      HYDERABAD
128972       GURUGRAM
128973      HYDERABAD
128974          Halol
128975         Raipur
Name: ship-city, Length: 128976, dtype: object

In [58]:
df['ship-state'] = df['ship-state'].fillna(df['ship-state'].mode()[0])
df['ship-state']

0          MAHARASHTRA
1            KARNATAKA
2          MAHARASHTRA
3           PUDUCHERRY
4           TAMIL NADU
              ...
128971       TELANGANA
128972         HARYANA
128973       TELANGANA
128974         Gujarat
128975    CHHATTISGARH
Name: ship-state, Length: 128976, dtype: object

In [59]:
df['ship-country'] = df['ship-country'].fillna(df['ship-country'].mode()[0])
df['ship-country']

0         IN
1         IN
2         IN
3         IN
4         IN
          ..
128971    IN
128972    IN
128973    IN
128974    IN
128975    IN
Name: ship-country, Length: 128976, dtype: object

In [60]:
df['Amount'] = df['Amount'].fillna(df['Amount'].median())

In [61]:
df['ship-city'].isnull().sum()

0

In [62]:
df=df.drop(columns=['New','PendingS'])

In [63]:
df['ship-postal-code'] = df['ship-postal-code'].fillna(df['ship-postal-code'].median())
df['ship-postal-code']

0         400081.0
1         560085.0
2         410210.0
3         605008.0
4         600073.0
            ...
128971    500013.0
128972    122004.0
128973    500049.0
128974    389350.0
128975    492014.0
Name: ship-postal-code, Length: 128976, dtype: float64

In [64]:
df.describe()

               index            Qty         Amount  ship-postal-code
count  128976.000000  128976.000000  128976.000000     128976.000000
mean    64486.130427       0.904401     645.927694     463955.470700
std     37232.897832       0.313368     272.747592     191433.431905
min         0.000000       0.000000       0.000000     110001.000000
25%     32242.750000       1.000000     459.000000     382421.000000
50%     64486.500000       1.000000     605.000000     500033.000000
75%     96730.250000       1.000000     771.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

In [65]:
df.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Category               object
Size                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
fulfilled-by           object
dtype: object

In [66]:
df['Date'] = pd.to_datetime(df['Date'],errors='coerce')
df['Date']

C:\Users\chava\AppData\Local\Temp\ipykernel_16916\4038095186.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'],errors='coerce')

0        2022-04-30
1        2022-04-30
2        2022-04-30
3        2022-04-30
4        2022-04-30
            ...
128971   2022-05-31
128972   2022-05-31
128973   2022-05-31
128974   2022-05-31
128975   2022-05-31
Name: Date, Length: 128976, dtype: datetime64[ns]

In [67]:
df_numeric = df.select_dtypes(include='number')
df_numeric.dtypes

index                 int64
Qty                   int64
Amount              float64
ship-postal-code    float64
dtype: object

In [68]:
df_categorical = df.select_dtypes(include='object')
df_categorical.dtypes

Order ID              object
Status                object
Fulfilment            object
Sales Channel         object
ship-service-level    object
Category              object
Size                  object
Courier Status        object
currency              object
ship-city             object
ship-state            object
ship-country          object
fulfilled-by          object
dtype: object

In [69]:
df.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
fulfilled-by          0
dtype: int64

In [70]:
# df.to_csv('Amazon_Sales.csv')

In [71]:
! pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (9.1.0)

In [72]:
! pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.1.1)

In [73]:
! pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [74]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [75]:
# import pandas as pd
# from sqlalchemy import create_engine
import urllib.parse

# Database credentials
username = "root"
password = urllib.parse.quote_plus("Vardhan@2002")  # Encode special characters
host = "127.0.0.1"
port = "3306"
database = "Amazon_Sales"

# Create connection engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")
# Test the connection
try:
    conn = engine.connect()
    print("Connection successful!")
    conn.close()
except Exception as e:
    print(f"Connection failed: {e}")
# Example: Read data from MySQL into Pandas DataFrame
# query = "SELECT * FROM your_table_name;"
# df = pd.read_sql(query, engine)

# print(df.head())

Connection successful!

In [80]:
# Insert Data into MySQL
try:
    # Insert the DataFrame into a new table in MySQL
    df.to_sql("amazon_data", con=engine, if_exists="replace", index=False)
    print("Data successfully inserted into MySQL!")
except Exception as e:
    print("Data insertion failed:", e)

Data successfully inserted into MySQL!

In [76]:
df.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
fulfilled-by          0
dtype: int64

In [77]:
# # from sqlalchemy import create_engine
# import urllib.parse

# # MySQL database credentials
# username = "root"
# password = urllib.parse.quote_plus("Vardhan@2002")  # URL-encode the password
# host = "127.0.0.1"       # Use "127.0.0.1" or "localhost"
# port = "3306"            # MySQL default port
# database_name = "Amazon_Sales"

# # Create the SQLAlchemy engine
# engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}")

# # Test the connection
# try:
#     conn = engine.connect()
#     print("Connection successful!")
#     conn.close()
# except Exception as e:
#     print(f"Connection failed: {e}")